<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Nosotros</h2>
	<p>La página web "MovieVision" es un proyecto web de prueba con el propósito de poner en práctica los conocimientos adquiridos durante mi formación académica hasta el momento, e incluirlo como parte de mi portafolio personal de desarrollo web.</p> 
	<p>El desarrollo de este proyecto web se realizó empleado el Lenguaje JavaScript, herramientas de maquetado web como HTML, CSS, Jquery, etc. Para el backend se empleó el framework NodeJS, requerimos librerías como express, body-parser, connect-multiparty; en cuanto al motor de base de datos se utilizó MongoDB, mediante la librería mongoose, motivado por su rapidez para ejecutar consultas a nuestra ApiRest. Por su parte el frontend se desarrolló mediante el framework Angular de JavaScript.</p>
	<p>La lógica de la página se diseño para que los usuarios puedan interactar mediante insersión de nuevas películas al listado (sección crear películas), en la cual se podrá editar o eliminar dichas peliculas. De igual forma, se podrá listar las películas existentes hasta al actualidad.</p>
	
</article>